# === Segredos e Ambiente (NUNCA versionar) ===
config.yaml
.venv/
venv/
__pycache__/
*.py[cod]
*.log
.DS_Store
.vscode/
log_envios.csv

# === Pastas de Dados ===
# Ignoramos a Simulado1 completamente
Simulado1/
logs/
*_ALL.txt

# Para a Simulado0, ignoramos o conteúdo, mas permitimos os arquivos específicos
Simulado0/**/*
!Simulado0/**/
!Simulado0/**/execution.txt
!Simulado0/**/Teste.py
!Simulado0/**/rubrica.txt